// apps/web/.env.example
NEXT_PUBLIC_SUPABASE_URL="https://dskxmdqmtarbsgppcoao.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRza3htZHFtdGFyYnNncHBjb2FvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTc2MTEyMzUsImV4cCI6MjA3MzE4NzIzNX0._xWl4iOTQWWTOimh1E1VUhbP9YjnRvifcaBpjb53_xo"
SUPABASE_SERVICE_ROLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRza3htZHFtdGFyYnNncHBjb2FvIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1NzYxMTIzNSwiZXhwIjoyMDczMTg3MjM1fQ.lA7FUob8PGUr57zUWFkU64ocLO_O64lm49O9fTMcTzQ"